<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: common-header(title='__#{landingPage.template.title}__')"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
	<head th:replace="fragments/header :: navbar"/>
	<div class="container main">
	    <div class="row">
	        <div class="col-lg-12">
	        </div>
	        <!-- /.col-lg-12 -->
	    </div>
	    <!-- /.row -->
	    <div class="row">
	        <div class="col-lg-6 col-md-6">
	            <div class="panel panel-info">
	                <div class="panel-heading">
	                    <div class="row">
	                        <div class="col-xs-6">
	                            <!--<i class="fa fa-comments fa-5x"></i>-->
	                            <h2>Checking Balance: </h2>
	                        </div>
	                        <div class="col-xs-6 text-right">
	                            <h1><i class="fa fa-usd" aria-hidden="true"></i> <span th:text="${checkingAccount.accountBalance}">...</span></h1>
	                        </div>
	                    </div>
	                </div>
	                <a th:href="@{/account/checkingAccount}">
	                    <div class="panel-footer">
	                        <span class="pull-left">Display Details</span>
	                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                        <div class="clearfix"></div>
	                    </div>
	                </a>
	            </div>
	            <div class="panel panel-success">
	                <div class="panel-heading">
	                    <div class="row">
	                        <div class="col-xs-6">
	                            <h2>Savings Balance: </h2>
	                        </div>
	                        <div class="col-xs-6 text-right">
	                            <h1><i class="fa fa-usd" aria-hidden="true"></i> <span th:text="${savingsAccount.accountBalance}">...</span></h1>
	                        </div>
	                    </div>
	                </div>
	                <a th:href="@{/account/savingsAccount}">
	                    <div class="panel-footer">
	                        <span class="pull-left">Display Details</span>
	                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                        <div class="clearfix"></div>
	                    </div>
	                </a>
	            </div>
	        </div>
	
	        <div class="col-lg-3 col-md-6">
	            <div class="panel panel-yellow">
	                <div class="panel-heading">
	                    <div class="row">
	                        <div class="col-xs-3">
	                            <i class="fa fa-credit-card fa-5x"></i>
	                        </div>
	                        <div class="col-xs-9 text-right">
	                            <div>Deposit</div>
	                        </div>
	                    </div>
	                </div>
	                <a th:href="@{/account/deposit}">
	                    <div class="panel-footer">
	                        <span class="pull-left">Go to Deposit</span>
	                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                        <div class="clearfix"></div>
	                    </div>
	                </a>
	            </div>
	        </div>
	        <div class="col-lg-3 col-md-6">
	            <div class="panel panel-red">
	                <div class="panel-heading">
	                    <div class="row">
	                        <div class="col-xs-3">
	                            <i class="fa fa-money fa-5x"></i>
	                        </div>
	                        <div class="col-xs-9 text-right">
	                            <div>Withdraw</div>
	                        </div>
	                    </div>
	                </div>
	                <a th:href="@{/account/withdraw}">
	                    <div class="panel-footer">
	                        <span class="pull-left">Go to Withdrawal</span>
	                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                        <div class="clearfix"></div>
	                    </div>
	                </a>
	            </div>
	        </div>
	    </div>
	    <!-- /.row -->
	
	
	</div>
	
	
	<div th:replace="fragments/header :: body-bottom-scripts"/>
</body>
</html>